@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inter:wght@300;400;700&family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Voltaire&display=swap');
    
nav{
        display: flex;
        align-items: center;
        background-color: #d09c9f;
        flex: 100%;
        height: 65px;
        font-family: 'Bungee', 'Inter', 'Philosopher', sans-serif;
}
#menu a{
        padding: 10px;
}
#menu a, #social a{
        color: #fff;
        text-decoration: none;
}
#menu a:hover, #social a:hover{
        color: #d86077;
    }
#logo {
        flex: 12%;
        padding: 10px;
}
#menu{
        flex: 50%;
        font-weight: 700;
        font-size: 1.4rem;
}
#social {
        flex: 38%;
        font-size: 1.5rem;
        color: #f64c71;
}
#search{
        padding: 0px 10px;
        font-size: 1.5rem;
        margin-right: 5px;
        background-image: linear-gradient(to right top, #b04169, #c55671, #d96b7a, #ec8083, #fe968e);
        border: 0;
        border-radius: 20px;
    }
#search::placeholder {
      color: whitesmoke;
      opacity: 1;
      font-size: 1.2rem;
    font-family: 'Paytone One', 'Voltaire', sans-serif;
}